<!DOCTYPE html>
<html>
<head>
    <!-- Add Page Title -->
    <title>Zeeguu Practice</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Add Local styles -->
<!-- Add Local styles -->
<link rel="stylesheet" href="{{ url_for('ex_blueprint.static',filename='styles/google_fonts.css') }}"
      type="text/css">


    <!--Preciously added CSS-->
    <link rel="stylesheet" href="{{ url_for('ex_blueprint.static',filename='styles/custom.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('ex_blueprint.static',filename='styles/success.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('ex_blueprint.static',filename='styles/loader.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('ex_blueprint.static',filename='styles/dropdown.css') }}" type="text/css">

    <link rel="stylesheet" href="{{ url_for('ex_blueprint.static',filename='styles/responsive.css') }}" type="text/css">
    <link rel="stylesheet" href="{{ url_for('ex_blueprint.static',filename='styles/sweetalert.css') }}" type="text/css">

    <!--New CSS-->
    <link rel="stylesheet" href="{{ url_for('ex_blueprint.static',filename='styles/exercises.css') }}" type="text/css">

    <!--- FONTS-->
    <link
    href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
    rel="stylesheet"
  />
    <!-- Add favicon -->
    <link rel="icon" href="{{ url_for('ex_blueprint.static',filename='img/favicon.png') }}" type="image/x-icon"/>
    <!-- Add External scripts -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-89557275-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-89557275-2');
    </script>

</head>
<body class="home-body">


<div id="main-content">
</div>

<!-- HTML that enables the loading page to show loader-->
<div id="loader" class="hide">
    <div class="spinner">
        <div class="double-bounce1"></div>
        <div class="double-bounce2"></div>
    </div>
</div>

<!-- Add Local main script -->
<script src="{{ url_for('ex_blueprint.static',filename='js/dist/appEntry.entry.js') }}"></script>

</body>
</html>
